# Unity files
*.cs diff=csharp text
*.unityproj merge=union
*.json merge=union
*.yml merge=union
*.yaml merge=union
*.mat merge=union
*.anim merge=union
*.unity merge=union
*.prefab merge=union
*.physicsMaterial merge=union
*.physicMaterial2D merge=union
*.asset merge=union
*.meta merge=union
*.controller merge=union
*.overrideController merge=union
*.terrainlayer merge=union

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.tga binary
*.tiff binary
*.iff binary
*.iff binary
*.raw binary
*.exr binary
*.mov binary
*.MP4 binary
*.mp4 binary
*.wav binary
*.mp3 binary
*.ogg binary
*.ogv binary
*.webm binary
*.fbx binary
*.FBX binary
*.blend binary
*.blend1 binary
*.blend2 binary
*.mb binary
*.ma binary
*.3ds binary
*.max binary
*.obj binary
*.dc binary
*.abc binary
*.lxo binary
*.gltf binary
*.glb binary
*.zip binary
*.rar binary
*.7z binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.deb binary
*.apk binary
*.aab binary
*.unitypackage binary
*.svgz binary
*.ttf binary
*.otf binary
*.rns binary
*.reason binary
*.terrainlayer binary
